
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Credit Card Approval Prediction</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="static/form-validation.css" rel="stylesheet">
  </head>

  <body class="bg-light">
   <header>
      
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            
			<strong>Creditcard</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" 
          aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="py-5 text-center">
          <h2>Credit Card Approval Prediction</h2>
        </div>

      <div class="row">
        
        <div class="col-md-8 order-md-1">
          
          <form action="/predict" method="POST" class="needs-validation" novalidate>
                        
              

            <div class="row">
              <div class="col-md-5 mb-3">
                <label for="CODE_GENDER">GENDER</label>
                <select class="custom-select d-block w-100" id="CODE_GENDER" name="CODE_GENDER" required>
                  
				<option>Select the GENDER</option>
				<option value="0">FEMALE</option>
				<option value="1">MALE</option>
				

                </select>
               </div>
              <div class="col-md-4 mb-3">
                 <label for="FLAG_OWN_CAR">OWN CAR OR NOT</label>
                <select class="custom-select d-block w-100" id="CountryCode" name="CountryCode" required>
                  
					<option value="">Select the YES/NO</option>
					<option value="0">NO</option>
					<option value="1">YES</option>
					 
                </select>
               
              </div>
			   <div class="col-md-4 mb-3">
                 <label for="FLAG_OWN_REALTY">OWN REALSTATE</label>
                <select class="custom-select d-block w-100" id="FLAG_OWN_REALTY" name="FLAG_OWN_REALTY" required>
                  
				
					<option value="">SELECT YES/NO</option>
					<option value="0">NO</option>
					<option value="1">YES</option>
					
                </select>
               
              </div>
              
               <div class="col-md-4 mb-3">
                 <label for="AMT_INCOME_TOTAL">TOTAL ANUAL INCOME</label>
                <input type="number" class="custom-select d-block w-100" id="AMT_INCOME_TOTAL" name="AMT_INCOME_TOTAL" required>
					 
                </select>
               
              </div>
              
               <div class="col-md-4 mb-3">
                 <label for="NAME_INCOME_TYPE">TYPE OF INCOME</label>
                <select class="custom-select d-block w-100" id="NAME_INCOME_TYPE" name="NAME_INCOME_TYPE" required>
                  
					<option value="">Select the YES/NO</option>
					<option value="0">Pensioner</option>
					<option value="1">Student</option>
					<option value="2">Working</option>
					 
                </select>
               
              </div>
              
               <div class="col-md-4 mb-3">
                 <label for="NAME_EDUCATION_TYPE">EDUCATION</label>
                <select class="custom-select d-block w-100" id="NAME_EDUCATION_TYPE" name="NAME_EDUCATION_TYPE" required>
                  
					<option value="">Select EDUCATION TYPE</option>
					<option value="0">Academic degree</option>
					<option value="1">Higher education</option>
					<option value="2">secondary</option>
					 
                </select>
               
              </div>
              
               <div class="col-md-4 mb-3">
                 <label for="NAME_FAMILY_STATUS">FAMILY STATUS</label>
                <select class="custom-select d-block w-100" id="NAME_FAMILY_STATUS" name="NAME_FAMILY_STATUS" required>
                  
					<option value="">SELECT MARRED OR UNMARRED</option>
					<option value="0">Married</option>
					<option value="1">Single</option>
					 
                </select>
               
              </div>
              
               <div class="col-md-4 mb-3">
                 <label for="NAME_HOUSING_TYPE">TYPE OF HOUSING</label>
                <select class="custom-select d-block w-100" id="NAME_HOUSING_TYPE" name="NAME_HOUSING_TYPE" required>
                  
					<option value="">SELECT HOUSEING TYPE</option>
					<option value="0">House / apartment</option>
					<option value="1">With parents</option>
					 
                </select>
               
              </div>
              
               <div class="col-md-4 mb-3">
                 <label for="DAYS_BIRTH">DAYS BIRTH</label>
                <input type="number" class="custom-select d-block w-100" id="DAYS_BIRTH" name="DAYS_BIRTH" required>
                  
					
					 
                </select>
               
              </div>
              
               <div class="col-md-4 mb-3">
                 <label for="DAYS_EMPLOYED">DAYS EMPLOYED</label>
                <input type="number" class="custom-select d-block w-100" id="DAYS_EMPLOYED" name="DAYS_EMPLOYED" required>
                  
					 
                </select>
               
              </div>
              
               <div class="col-md-4 mb-3">
                 <label for="CNT_FAM_MEMBERS">FAMILY MEMBERS</label>
                <input type="number" class="custom-select d-block w-100" id="CNT_FAM_MEMBERS" name="CNT_FAM_MEMBERS" required>
                  
					
                </select>
               
              </div>
              
               <div class="col-md-4 mb-3">
                 <label for="paid_off">EMI PAID OFF</label>
                <input type="number" class="custom-select d-block w-100" id="paid_off" name="paid_off" required>
                  
					 
                </select>
               
              </div>
              
               <div class="col-md-4 mb-3">
                 <label for="#_of_pastdues">EMI OF PASTDUES</label>
                <input type="number" class="custom-select d-block w-100" id="#_of_pastdues" name="#_of_pastdues" required>
                
					 
                </select>
               
              </div>
              
               <div class="col-md-4 mb-3">
                 <label for="no_loan">NUMBER OF LOANS</label>
                <input type="number" class="custom-select d-block w-100" id="no_loan" name="no_loan" required>
                 
                </select>
               
              </div>
              
              
             
              
            </div>
            
           
            <hr class="mb-4">
			
            <button class="btn btn-primary btn-lg btn-block" type="submit">Predict</button>
          </form>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-5">&copy; prediction</p>
        
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
     <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="static/js/vendor/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/vendor/holder.min.js"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
	
  </body>
</html>
